.wrap{
	width:100%;
}
.biaoti{
	font-size: 45px;
    line-height: 60px;
}
.biaoti1-top{	
	font-size:20px;
	margin: 10px 0;
}
.biaoti1-bottom{
	font-size:13px;
}
.lab-neirong-right{
	width:100%;
}
.lab-list{
	display: none;
}
.lab-list>li{
	display: block;
	margin: 0px;
}
.ssss{
	width:88px;
	height:30px;
	margin: auto;
	background:url(../img/lab-img/lab-img5.png) no-repeat;
	background-size: cover;
}
